files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID+zCCAuMCFAzkN3rSN4cV5yCvia5Du84aQkMoMA0GCSqGSIb3DQEBCwUAMIG5
      MQswCQYDVQQGEwJVUzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRp
      c29uMREwDwYDVQQKDAhQZXJzb25hbDFFMEMGA1UEAww8dHJla3JvdWxldHRlLWVu
      di1lYmEtdzNuN21qZmUudXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMSow
      KAYJKoZIhvcNAQkBFht0bG1pcmtlc0BtYWRpc29uY29sbGVnZS5lZHUwHhcNMjMw
      MzIxMTg0MTM5WhcNMjQwMzIwMTg0MTM5WjCBuTELMAkGA1UEBhMCVVMxEjAQBgNV
      BAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwHTWFkaXNvbjERMA8GA1UECgwIUGVyc29u
      YWwxRTBDBgNVBAMMPHRyZWtyb3VsZXR0ZS1lbnYtZWJhLXczbjdtamZlLnVzLWVh
      c3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEqMCgGCSqGSIb3DQEJARYbdGxtaXJr
      ZXNAbWFkaXNvbmNvbGxlZ2UuZWR1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
      CgKCAQEA4CmsWIFG1waotcMu2db8vAGHhLvHI1ZhgE38trQjl+LPuUak9DLhVDJf
      nsTtSVglxv2O5Jda9eLsBRD3ISy3jjst9lFM//2Fg4Q/ErqMMUXaWLlDK9tNqqmL
      dOTNsDFCqHWIi/smEIYk48k9H3qNRUaBldFKsQBbevUHnryuR88Zdk0N3GvzPRj0
      2EZNRih2zFm1UFlCuR9VtmpVWCc2lgGwY2F6HyDVxX69iJ7LC9yBdy+5hxPON1v2
      1O8JAqmXAdKvLCKA4ToeOqYYuwAtpWO3GXYOUmIRUdVE/eAoiLHz1l6U2WOSreMk
      pGEeXEpQttsgsw7G2BVR/jEdCMMRwQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQAx
      /BPEjGMAB2m6fKTZRow5WeWQj+6rkf5MVFaQdUFUTn/LnxPtLogbYDroHrTuUmOe
      t4/VzLb+kcrVkLhEV6EIO8OlQrJ2NlV5UYQd6weOHYS8xYfzG08zxsOUUPs5JbsF
      5jhZOVcf1y6OAAa5sowHk4rJ7Ye7wKR+rwqOAmXy3huZnVXD1m+oDwRr5EbzkNID
      G9VLp2SzVKP7+sKFAVVWhVxuDmCESNvq49CCiDtENhCroSKa46OkIzWH7lBxNu0j
      QKRGoZNgNoLdh0oxsP01HWy8Eq2qMF1IXJjp3xFIPVcH8nY1BWEVszRfi2x1aX6D
      sokjcn4fMwk6fdkGEXBn
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA4CmsWIFG1waotcMu2db8vAGHhLvHI1ZhgE38trQjl+LPuUak
      9DLhVDJfnsTtSVglxv2O5Jda9eLsBRD3ISy3jjst9lFM//2Fg4Q/ErqMMUXaWLlD
      K9tNqqmLdOTNsDFCqHWIi/smEIYk48k9H3qNRUaBldFKsQBbevUHnryuR88Zdk0N
      3GvzPRj02EZNRih2zFm1UFlCuR9VtmpVWCc2lgGwY2F6HyDVxX69iJ7LC9yBdy+5
      hxPON1v21O8JAqmXAdKvLCKA4ToeOqYYuwAtpWO3GXYOUmIRUdVE/eAoiLHz1l6U
      2WOSreMkpGEeXEpQttsgsw7G2BVR/jEdCMMRwQIDAQABAoIBAQCUyZRnuoc2umjJ
      HKDAXv6qG6nD5I+tWOymqR0QeEkXy6htJgLfQ9ZkeHsXe0a05BlPF4X9HKl3hAN8
      6WHfVzsO4SEE2bnuQGyaevESkVf0bJUdRvra5VmL6bVzBVuxk0DXaAwWPcFqPl/G
      AhDcEBAs5zukIaMeEUqnNnS0XDCh4ArExkgzmqWVpVc/nHxdp15yJHalr63NZPbe
      RAK60OwrOYoXP0FB38iAIXftkNNZnJHaj7pLNrI/D4D3rpj+VGeb7yTvgq0vi/IO
      QGn2+v/Z/MmA+XswkqJiVQH7wBGy2k+4WhaDTvgTKlPBGNlO3HXnJT+tAu5tu/Ko
      sn0nJrNxAoGBAPTN4Ue0KloeyytBirV31dmvdanOo+hTpve5tu6e5KW4l8MPeOAJ
      rMW4eIlDJkFIGdVTg5mynGlfmgxQZsN8NgnpykVQ66rMZOX/uJYTEEaX1FDZiMKu
      LkzUnPIwcsE6BegMbzW/XPff3+SEjChMd2eKM1Er+dvQ0gkxOH65dYorAoGBAOpq
      IJq25K2Gqf1BBj077XX04Prl7dRCAJfIbK445a6ebwEGvF3oiFEd2AqcYH+IrMh8
      pSbBywwb/YUQaTHLBA2fHTHEkh8E+9DyPprt9rBjAebvDHY2rq1d8EnaSrJcIxLn
      5CA9tD22z7ovDxFexHPgM6uLfe8w6kC/AUs6BfnDAoGBAJYVPp9KOojjxiVv2k1k
      +auq4ZVIhb6iwoOvzRJAQefD4u8Ipk+cPts9PFDS5ToyrPvXZqAtG62SmgwgotAI
      b8zmE0cp1EHza4yCmbUQXPMalGU46JqKVQJvewUUZNZH72UTcn7eIm4pR8d+57qx
      HqdQ2CNUtatpO8u87Gjs5L3fAoGABmJ3mt8qYVOOo7g2rEpKkHDoA81paeOWUowB
      8cjY8KWeDmAZl1EzDUqLzNYvhqm5UwiaEvEqT50fjZVB2DpYVOqlh+p7tF6VYT6H
      1/5tPqajsZ+HLl0U6uHpHonUiQEbb3NjckFb/GZTSBXqCiYTobhUj/KProkdiD/r
      kBn3ebMCgYBCW/ewIKZcr5vP9+e2xsje3095oR1JtqVMzQU0yYWRoTQEWScUzzzM
      1FC1sgBJ5p6WEk9MGRVBLbwU9ePnDF5tI/QhjWFBrtml2REzxr5bbkgruBaWdL8e
      JVVLnFlVfL3ghAzoC9iCY9Rbvsyevr/wRLwUcHjoA18wTclNi36XnA==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart